@import 'https://fonts.googleapis.com/css?family=Raleway:100';

html, body {
    padding:0;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

section {
    padding-top: 3em;
    padding-bottom: 3em;
}

section h3 {
    text-transform: uppercase;
    margin-bottom: 2em;
}

.lililillilil-type {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    line-height: 1.45em;
}

.append-domain::after {
    content: "@lililillilil.com";
}

.video-wrapper-16x9 {
    max-width: 100%;
    display: block;
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 2em ;
}

.video-wrapper-16x9 iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/*- INTRODUCTION -*/

section#introduction {
    padding-top: 5em;
    padding-bottom: 5em;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
        url('images/bedroom.jpg');
    background-size: cover, cover;
    background-position: center center, center bottom;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 2.2em;
    text-shadow: 0 0 0.1em #f7e271;
}

#lililillilil-logo rect {
    fill: #ffffff;
}

/*- VAN GOGH -*/

section#van-gogh {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
        url('images/wheatfield.jpg');
    background-size: cover, cover;
    background-position: center center, center bottom;
}

/*- LEONARDO DA VINCI -*/

section#ldv {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
        url('images/mona-lisa.jpg');
    background-size: cover, cover;
    background-position: center center, center center;
}

/*- CONTACT -*/

section#contact {
    font-family: sans-serif;
    font-weight: 100;
    background-color:#1b1b1b;
    color:#999999;
}

section#contact h3 {
    font-family: 'Raleway', sans-serif;
}

.lililillilil-copy {
    margin-top: 1.5em;
}
